/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #4CAF50;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hero Section */
.hero {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

#searchSymptoms {
    padding: 10px;
    font-size: 18px;
    width: 80%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* About Section */
#about, #services, #contact {
    padding: 50px 20px;
    text-align: center;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
